@model Product;


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Create New Product</h2>
            <form method="post">
                <div class="mb-3">
                    <label asp-for="BookTitle" class="form-label"></label>
                    <input asp-for="BookTitle" class="form-control">
                    <span asp-validation-for="BookTitle" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Url" class="form-label"></label>
                    <input asp-for="Url" class="form-control">
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Author" class="form-label"></label>
                    <input asp-for="Author" class="form-control">
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="CategoryId" class="form-label"></label>
                    <select asp-for="CategoryId" asp-items="ViewBag.Category" class="form-select">
                        <optoin disabled selected >Select Category</optoin>
                     </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Price" class="form-label"></label>
                    <input asp-for="Price" class="form-control">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Price50_100" class="form-label"></label>
                    <input asp-for="Price50_100" class="form-control">
                    <span asp-validation-for="Price50_100" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Price100_150" class="form-label"></label>
                    <input asp-for="Price100_150" class="form-control">
                    <span asp-validation-for="Price100_150" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Price150" class="form-label"></label>
                    <input asp-for="Price150" class="form-control">
                    <span asp-validation-for="Price150" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>