@model Category;


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Create New Category</h2>
            <form method="post" >
                <div class="mb-3">
                    <label asp-for="CategoryName" class="form-label"></label>
                    <input asp-for="CategoryName" class="form-control">
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DisplayOrder" class="form-label"></label>
                    <input asp-for="DisplayOrder" class="form-control">
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>