@model Company;


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Create New Product</h2>
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <label asp-for="StreetAddress" class="form-label"></label>
                    <input asp-for="StreetAddress" class="form-control">
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="City" class="form-label"></label>
                    <input asp-for="City" class="form-control">
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="State" class="form-label"></label>
                    <input asp-for="State" class="form-control">
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="PostalCode" class="form-label"></label>
                    <input asp-for="PostalCode" class="form-control">
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>  
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>